@model IEnumerable<Ex_09_Project.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col">
        <h1>Employee List</h1>

        <div class="d-flex justify-content-end mb-1">
            <a asp-action="Create" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Create New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr style="background-color:cadetblue">
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JoinDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JoinDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary btn-sm" title="Edit this item" asp-action="Edit" asp-controller="Departments" asp-route-id="@item.EmployeeId"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-outline-warning btn-sm" title="Delete this item!" asp-action="Delete" asp-controller="Departments" asp-route-id="@item.EmployeeId"><i class="fa fa-trash"></i></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
@section Styles{
    <environment include="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    </environment>
}